PORT=

DATABASE_URL=

JWT_SECRET=
JWT_EXPIRATION=1d

REDIS_URL=
CACHE_TTL=300000
CACHE_LRU_SIZE=10000

# Blockchain Configuration (Sepolia Testnet)
BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
BLOCKCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_ADMIN_PRIVATE_KEY=
